<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>561204420101-r0bp7lu8ovf9k1aj5d7mg2n51pqq8i1r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.561204420101-r0bp7lu8ovf9k1aj5d7mg2n51pqq8i1r</string>
	<key>API_KEY</key>
	<string>AIzaSyBQzKqXwJuFSkpldtaza_V4aIUQzH8M_mc</string>
	<key>GCM_SENDER_ID</key>
	<string>561204420101</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeline.codelineStudentsApp</string>
	<key>PROJECT_ID</key>
	<string>codeline-students</string>
	<key>STORAGE_BUCKET</key>
	<string>codeline-students.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:561204420101:ios:92041a08eae1baaecd066c</string>
	<key>DATABASE_URL</key>
	<string>https://codeline-students.firebaseio.com</string>
</dict>
</plist>